<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Notificaciones</h4>
  </div>
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to "Agregar una nueva notificación", new_message_path, class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="table-responsive">
      <table id="messages-table" class="table table-striped table-bordered" cellspacing="0" width="100%" data-source="<%= messages_path(format: :json) %>">
        <thead>
        <tr>
          <th>Mensaje</th>
          <th>Empezar a mostrar</th>
          <th>Dejar de mostrar</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
