<p>¡Hola <%= @resource.email %>!</p>

<p>Alguien pidió el link para cambiar tu contraseña. Podés hacerlo a través del siguiente link: </p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si tu no has pedido el cambio de contraseña, por favor ignora este email.</p>
<p>Tu clave no va a cambiar hasta que no accedas al link provisto y crees una nueva contraseña</p>
