<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Consulta de Clases</h4>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="past-shifts-table" class="table table-striped table-bordered" cellspacing="0" width="100%" data-source="<%= past_shifts_path(format: :json) %>">
        <thead>
        <tr>
          <th>Fecha</th>
          <th>Inscriptos</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
