<div class="container-fluid">
  <div class="panel panel-default table-responsive" style="overflow-x: visible;">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9">
          <h4>Resetear créditos</h4>
        </div>
        <div class="col-xs-3">
          Último reseteo: <%= l(@last_reset_date, :format => '%d/%m/%Y') %>
        </div>
      </div>
    </div>
    <div class="panel-body">

      <%= form_tag({controller: "users", action: "reset"}, id: "reset-credits-form", class: "form-inline") do %>
          <div class="form-group">
            <label for="reset-month-year">Resetear hasta </label>
            <div class='input-group date' id='month-year'>
              <input type='text' class="form-control" name="month_year" id="reset-month-year" />
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>

          <%= button_tag("Simular", id: "search-reset", class: "btn btn-primary", type: 'button') -%>
          <%= button_tag("Resetear", data: { disable_with: "Reseteando...", confirm: "¿Seguro que desea resetear los créditos de todos los usuarios?\nEsta acción no puede deshacerse" }, class: "btn btn-danger", type: 'submit' ) -%>
      <% end %>

      <div id="credit-reset-panel" class="panel panel-default">
        <div class="table-responsive">
          <table id="credit-reset-table" class="table table-striped" cellspacing="0" width="100%" data-source="/users/reset_search.json">
            <thead>
            <tr>
              <th>Cliente</th>
              <th>Crédito actual</th>
              <th>Crédito después del reseteo</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
