<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Clientes</h4>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="users-table" class="table table-striped table-bordered" cellspacing="0" width="100%" data-source="<%= users_path(format: :json) %>">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Profesión</th>
                  <th>Teléfono</th>
                  <th>Crédito</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
    </div>
  </div>
</div>