<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Inscripciones manuales</h4>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="rookies-table" class="table table-striped table-bordered" cellspacing="0" width="100%" data-source="<%= rookies_path(format: :json) %>">
        <thead>
        <tr>
          <th>Clase</th>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Email</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>