<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Modificar Pago de <%= @user.full_name %></h4>
    </h4>
  </div>
  <div class="panel-body">
    <%= render 'edit_form' %>
  </div>
</div>