<% datatable "stats-table", ["Mes", "Créditos otorgados", "Inscripciones", ""], :class => "selectable" do -%>
    <% stats.each do |date, stat| -%>
        <tr>
          <td><%= l(date, :format => '%B %Y').capitalize %></td>
          <td><%= stat[:credits] %></td>
          <td><%= stat[:inscriptions] %></td>
          <td><%= date %></td>
        </tr>
    <% end -%>
<% end -%>