<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Estadísticas</h4>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="stats-table" class="table table-striped table-bordered" cellspacing="0" width="100%" data-source="<%= stats_path(format: :json) %>">
        <thead>
        <tr>
          <th>Fecha</th>
          <th>Créditos otorgados</th>
          <th>Inscripciones</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
   </div>
</div>