<div class="topbar">
  <div class="fill">
    <div class="container">
      <%= link_to "Nahual", main_app.root_path, :class => "brand" %>
      <div class="account_links pull-right">
        <%= render_navigation %>
      </div>
    </div>
  </div>
</div>